{% extends "LouvreBackendBundle::layout.html.twig" %}

{% block title %}
    Billetterie
{% endblock %}

{% block body %}
<h1>Informations relatives à la commande</h1>

<p>Ici s'affiche le formulaire de remplissage de billets</p>

{% endblock %}
