
<html>
<head>
    <title>Billets</title>
</head>
<body>
<h1>Informations relatives aux billets de la commande {{ id }}</h1>

<p>Ici s'affiche le formulaire de remplissage de billets</p>

</body>
</html>