{% extends "LouvreBackendBundle::layout.html.twig" %}

{% block title %}
    Billetterie
{% endblock %}

{% block body %}
<h2>Informations relatives à la commande</h2>

    <div class="well">
        {{ form_start(form) }}

        {% for ticket in form.tickets %}

            {{ form_widget(form.tickets) }}

        {% endfor %}
        <input type="submit" class="btn btn-primary" value="Valider" />
        {{ form_end(form) }}



    </div>

{% endblock %}
