{% extends "LouvreBackendBundle::layout.html.twig" %}

{% block title %}
Billetterie
{% endblock %}

{% block body %}
<h2>Informations concernant la commande :</h2>

<div class="well">
    {{ form(form) }}
</div>
{% endblock %}
