{% extends "LouvreBackendBundle::layout.html.twig" %}

{% block title %}
Billetterie
{% endblock %}

{% block body %}
<h2>Informations :</h2>

<p>Ici s'affiche le formulaire de commande</p>
{% endblock %}
