{% extends "LouvreBackendBundle::layout.html.twig" %}

{% block title %}
{{ parent() }}
{% endblock %}

{% block body %}
    <p>
        Cette page doit permettre d'accéder à l'interface de vente de billets du site
        <a href="{{ path('louvre_backend_commande') }}">Accéder à la billetterie</a>
    </p>
{% endblock %}


