<html>
<head>
    <title>Bienvenue sur le site du musée du Louvre</title>
</head>
    <body>
    <h1>Bienvenue sur le site du musée du Louvre</h1>

    <p>
        Cette page doit permettre d'accéder à l'interface de vente de billets du site
    </p>
    </body>
</html>

