{% extends "layout.html.twig" %}

{% block title %}
    Réservation confirmée
{% endblock %}

{% block header %}
    <h2>Confirmation de votre commande</h2>
{% endblock %}

{% block body %}
    <div class="well">
        <h3>Commande numéro : {{ orderId }}</h3>
        <p>Votre commande d'un montant de <strong>{{ price }}€</strong> a bien été enregistrée. Un mail de confirmation contenant toutes les informations relatives à vos billets a été envoyé à l'adresse : <strong>{{ mail }}</strong></p>
        <p><em>Si cette adresse n'est pas la votre, si une erreur s'est glissée dans votre commande, veuillez vous munir de votre numéro de commande avant de nous contacter.</em></p>
    </div>

    <a href={{ path("index") }}>Retour à l'accueil</a><br />
{% endblock %}
