{% extends "layout.html.twig" %}

{% block title %}
{{ parent() }}
{% endblock %}

{% block body %}
<br/>

        <div class="well">
                <p>
                    {{ 'louvre.backendbundle.index.introduction'|trans }}
                </p>
                <br />

                <div>
                    {# On affiche tous les messages flash dont le nom est « info » #}
                    {% for message in app.session.flashbag.get('erreur') %}
                            <p><strong>{{ message }}</strong></p>
                    {% endfor %}
                </div>
        </div>

    </div>
{% endblock %}


