<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Bienvenue sur le site du musée du Louvre{% endblock %}</title>
    <style type="text/css">
        h2
        {
            text-align: center ;
        }

        p
        {
            text-align: justify;
        }

        div.gallery {
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width: 180px;
        }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }
        

        div.desc {
            padding: 15px;
            text-align: center;
        }

        * {
            box-sizing: border-box;
        }

        .stripe-button {
            display: none;
        }


    </style>

    {% block stylesheets %}
        {# CSS BOOTSTRAP #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    {% endblock %}

<div class="container">
    <div id="header" class="jumbotron">
        <h1 align="center">Musée du Louvre</h1>
        {% block header %}

        {% endblock %}
    </div>
</div>
</head>

<body>
    <div class="container" id="content">
        {% block body %}
        {% endblock %}

    </div>
</body>
</html>

